* {
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}

.container {
    background-color: white;
    width: 200px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50%;
    padding: 5px 0px;
}

.box {
    width: 175px;
    height: 175px;
    margin: 5px 0px
}

.red {
    background-color: red;
    border: 10px solid rgb(188, 10, 10);
}

.yellow {
    background-color: yellow;
    border: 10px solid rgba(159, 133, 5, 0.767);
}

.green {
    background-color: green;
    border: 10px solid rgb(3, 71, 3);
}
